/*

	terrafirma1.0 by nodethirtythree design
	http://www.nodethirtythree.com
        
*/
body
{
    margin-left: 15%;
    margin-right: 15%;
}
div.slide {
    text-align: center;
}
img.slide_img {
    width: 420;
    height: 315;
}
div.slide img {
    border: 10px solid #abc;
    width: 420;
    height: 315;
}

h1
{
    font-size: 150%; 
}
h2{
    font-size: 140%;
}

/*Remove the line under links*/
a {text-decoration:none;}

/*this is very important for me*/
pre {
  background: #f8f8f8;
  border: 1px solid #E7E5DC;
  border-width: 1px 0 4px 6px;
  padding: 1em;
  overflow: auto;
  color: black;
  line-height: 120%;
  font-family: "Consolas","Courier New",Courier,mono;
  font-size: 12px;
  letter-spacing: 0;
}


p.figure{
font-style:italic;
text-align:center;
}

#menu
{
position: relative;
background: #dbdbdb no-repeat;
height: 40px;
padding: 0px 0px 0px 0px;
margin: 0px 0px 10px 0px;
}

#menu ul li
{
display: inline;
line-height: 40px;
padding-left: 3px;
}

#menu ul li.first
{
border-left: 0px;
}

#menu ul li a
{
background-color: transparent;
background-repeat: repeat-x;
padding: 8px 12px 8px 12px;
font-size: 15px;
font-weight: bold;
}
table.single
{
border:2px solid #dfd505;
background-color: #E0E0E0;
}
table.multi
{
    text-align:left;
}
caption.cap
{
    font-style:italic;
    text-align:left;
}
th.title
{
    background-color:#E0E0E0;
}

div.highlight
{
    background-color: #E0E0E0;
    padding: 0.1em;
    font-size: 150%;
}
